In [2]:
print(int("123"))

123

In [3]:
age = 24
print("My age is: ", age)

My age is:  24

In [5]:
## format
name = "Rifat"
age = 24
print("my name is {} and age is {} ". format(name, age))

my name is Rifat and age is 24

In [6]:
## place holder

name = "Rifat"
age = 24

print("My name is {firstname} and age is {firstage} ".format(firstname = name, firstage = age))

My name is Rifat and age is 24

In [7]:
## practice - 1
name = "rifat ahammed"
age = 24
degree = "BSc"
print(f" My age is {age} and i am doing my {degree} with the name of {name}")

 My age is 24 and i am doing my BSc with the name of rifat ahammed

In [8]:
print(" My age is {firstage} and i am doing my {bachelor} with the name of {firstname}". format(firstage = age, firstname = name, bachelor = degree))

 My age is 24 and i am doing my BSc with the name of rifat ahammed

## Control Flow 
## Decission making statement

In [10]:
 # if statement
    
age = 17

if age >= 18:
    print("Eligible")
    
else:
    print("Not eligible")

Not eligible

In [12]:
# task

age = int(input("Enter your age: "))
if age >=18 and age < 45:
    print("Young blood")

Enter your age:  24

Young blood

In [4]:
## task - 2

price = float(input("Enter product price"))

if price > 1000:
    print(f"Product price is: {price-(price*0.2)}")
    
elif price<=1000:
    print(f"Product price is: {price-(price*0.3)}")

Enter product price 1200

Product price is: 960.0

In [1]:
1+2

3

In [5]:
# Task -3

price = int(input("Enter the price"))

if price > 3000:
    if price == 4000:
        print("Congratulation, You got a Goa trip")
    print("Price is {}: ". format(price*0.8))
     
elif price >= 2000 and price <=3000:
    if price == 2999:
        print("Congratulation, You got a gift")
    print("price is {}: ". format(price*0.7))
    
else: 
    print("Price is {}: ". format(price*0.6))

Enter the price 4000

Congratulation, You got a Goa trip
Price is 3200.0:

# Loop Statements
## For loop
## while loop
## nested loop
## loop control ( break, continue, pass)

In [7]:
# while loop (while-else)

age = 24

while age <= 60:
    print(age)
    age +=1
else:
    print("Time to retirement")

24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Time to retirement

In [9]:
# Atm bank

money = 1000

while money!=0:
    print(money)
    money -=100
else:
    print("put money int the ATM")

1000
900
800
700
600
500
400
300
200
100
put money int the ATM

# Foor loop

In [1]:
lst = ["rifat", 1, 2, 3, "apple", "banana"]

In [5]:
print(type(lst[1]))

<class 'int'>

In [6]:
for x in lst:
    print(x, end=" ")

rifat 1 2 3 apple banana

In [9]:
fruit = "Mango"
for a in fruit:
    print(a, end = " ")

M a n g o

In [10]:
fruit[0]

'M'

### Nested loop

In [11]:
""" 
range:Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step

"""
range

range

In [13]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [15]:
for i in range (1, 10, 2):
    print(i, "\r")

1
3
5
7
9

In [20]:
## pattern

n=7

for i in range(0, n):
    for j in range (0, i+1):
        print("*", end = "")
    print("\r")

*
**
***
****
*****
******
*******

In [25]:
## break, continue

# break

fruit = ["mango", "apple", "banana", "orange", "cherry"]

for i in fruit:
    if i == "orange":
        print("here is your fruit")
        break
    print(i)

mango
apple
banana
here is your fruit

In [26]:
#pass

for i in fruit:
    if i == "orange":
        print("here is your fruit")
        pass
    print(i)

mango
apple
banana
here is your fruit
orange
cherry

In [27]:
# continue

for i in fruit:
    if i == "orange":
        print("here is your fruit")
        continue
    print(i)

mango
apple
banana
here is your fruit
cherry